@media (max-width: 768px) {
    .Container {
        width: 80%;
        padding: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.397);
        border-radius: 24px;
    }

    .CardFoto {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        box-shadow: 2px 2px 8px;
    }
}